@tailwind base;
@tailwind components;
@tailwind utilities;

body,
header {
  background-color: #0d0c1f;
}
@font-face {
  font-family: "EuclidCircular";
  src: url("../public/fonts/EuclidCircularA-Bold.woff2");
}

.text-glow {
  text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  background-color: rgba(111, 76, 255, 0.8);
}

button:hover {
  box-shadow: 0 0 32px 0 rgb(88 47 213 / 32%), 0 0 8px 0 rgb(88 47 213 / 48%);
}

.pc {
  animation: floating 6s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.card {
  margin: 1rem;
  padding: 1rem;
  height: 300px;
  width: 100%;
  max-width: 80vw;
  min-width: 200px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}

@media (min-width: 900px) {
  .card {
    max-width: 600px;
  }
}

.bg-blur {
  overflow: hidden;
}
.bg-blur::before {
  content: "";
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(30px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EuclidCircular";
  font-weight: bold;
}

p {
  font-family: sans-serif;
  color: white;
}
